@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-12 text-center">
        <h2>Exercicio usando .Net Core</h2>
        <ul class="list-group">
            <li class="list-group-item">Sample pages using ASP.NET Core Razor Pages</li>
            <li class="list-group-item">Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label>Página atual(Current Page):</label>
                <input asp-for="@Model.PaginasVM.CurrentPage" class="form-control" type="number" name="currentPage" required />
                <span asp-validation-for="@Model.PaginasVM.CurrentPage"></span>
            </div>
            <div class="form-group">
                <label>Total de páginas(Total pages):</label>
                <input asp-for="@Model.PaginasVM.TotalPages" class="form-control" type="number" name="totalPages" required />
                <span asp-validation-for="@Model.PaginasVM.TotalPages"></span>
            </div>
            <div class="form-group">
                <label>Limites(Boundaries):</label>
                <input asp-for="@Model.PaginasVM.Boundaries" class="form-control" type="number" name="boundaries" required />
                <span asp-validation-for="@Model.PaginasVM.Boundaries"></span>
            </div>
            <div class="form-group">
                <label>A volta(Around):</label>
                <input asp-for="@Model.PaginasVM.Around" class="form-control" type="number" name="around" required />
                <span asp-validation-for="@Model.PaginasVM.Around"></span>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <button class="btn btn-primary" type="submit">Submeter</button>

        </form>
    </div>
    <div class="col-md-12 text-center">
        @if (Model.PaginasVM?.ResultadoArray != null)
        {
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <<
                    </a>
                </li>
                @foreach (var item in Model.PaginasVM.ResultadoArray)
                {
                    <li class="page-item">
                        @if (string.Equals(item, Model.PaginasVM.CurrentPage.ToString(), StringComparison.OrdinalIgnoreCase))
	                    {
                            <a class="page-link currentPage" href="#"><strong>@item</strong></a>
                        }
                        else
                        {
                            <a class="page-link" href="#">@item</a>
	                    }   
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="#">
                        >>
                    </a>
                </li>
            </ul>
        }
        else
        {
            <div class="mt-4 col-md-12 alert-danger">
                <p>Impossivel apresentar paginas com os dados inseridos.</p>
            </div>
        }
    </div>
</div>
